{% extends "@SygeforFront/base.html.twig" %}

{% block header %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Responsable hiérachique</h1>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li class="active"><a href="{{ path('front.account.registration.valid', {id: registration.id}) }}" class="button secondary">Avis pour une inscription</a></li>
            </ul>
        </div>
    </header>
{% endblock %}

{% block body %}
<div class="container">
  <section>
    <div class="row">
      <div class="col-md-12 columns">
          {% if access == "Formulaire" %}
              <h3>Autorisation d'inscription à une formation</h3>
              <p>Merci de saisir un avis pour l'inscription de <b>{{ trainee.fullName }}</b> à la formation</p>

              <blockquote class="small">
                {{ registration.session.training.name }}<br>
                {{ registration.session.dateRange | replace('le' , '') }}
              </blockquote>
              {{ form_start(form) }}

              {{ form_row(form.children.validation) }}
              {{ form_errors(form.children.validation) }}

              {{ form_errors(form) }}

              <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Valider la décision</button>
                </div>
              </div>
              {{ form_end(form) }}

          {% elseif access == "Demande déjà traitée"  %}
            <h3>Autorisation d'inscription à une formation</h3>
            <p>La demande d'inscription de <b>{{ trainee.fullName }}</b> à la formation suivante a déjà été traitée.</p>

            <blockquote class="small">
                {{ registration.session.training.name }}<br>
                {{ registration.session.dateRange | replace('le' , '') }}
            </blockquote>

          {% elseif access == "Avis émis"  %}
            <h3>Votre avis a été envoyé.</h3>

          {% else %}
            <h3>Vous n'avez pas accès à cette partie de l'application.</h3>

          {% endif %}
        </div>
    </div>
  </section>
</div>
{% endblock %}